@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dongle:wght@300;400;700&family=Montserrat:wght@400;600;800&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap');

body{
	font-family: 'Roboto', sans-serif;
	}

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}


/*Inicio del Header*/
#header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #261f1f8a;
	height: 120px;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 1000;
}

#header .nav{
	flex-grow: 1;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}


#header .nav .active a{
	color: #ccc;
}

#header .nav img{
	width: 80px;
	height: 80px;
}

#header .nav img:hover{
	transform: scale(1.5);
}

#header .nav a{
	color: #000000b0;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
}

#header .nav a:hover{
	color: orange;
	font-size: 1.6rem;
}

/*Fin del Header*/

/*Inicio Pagina home*/
.contenedor{
	display: grid;
	grid-template-areas: 
	"banner banner banner"
	"anun anun anun"
	"anun2 anun2 anun2"
	"img1 img2 img3"
	"footer footer footer";
	justify-items: start;
	height: 100vh;
}

.fondo2{
	grid-area: banner;
	background-image: url('../assets/collageHome.png');
	background-size: cover;
	align-self: stretch;
	justify-self: stretch;
	margin: auto;
	width: 100%;
}

@keyframes letrero5{
	0%{
		color:magenta ;
	}

	100%{
		color: orange;
	}
}

.fondo2 .letrero{
	display: flex;
	flex-direction: column;
	color: #c786cca1;
	font-family: 'Bebas Neue', cursive;
	font-size: 4rem;
	font-weight: 400;
	margin-top: 160px;
	align-items: center;
	animation-name: letrero5;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-delay: 0.01s;
}

.fondo2 .comprar{
	display: flex;
	margin-top: 120px;
	flex-direction: column;
	align-items: center;
	color: black;
	font-family: 'Bebas Neue', cursive;
	font-size: 2rem;
	font-weight: 400;
}

/*Responsive Home*/
@media all and (max-width: 768px){
	.contenedor{
		display: grid;
		grid-template-areas: 
		"banner"
		"anun"
		"anun2"
		"img1"
		"img2"
		"img3"
		"footer";
		justify-items: start;
		height: 100vh;
	}

	.fondo2{
		grid-area: banner;
		background-image: url('../assets/fondo2.jpg');
		background-size: cover;
		align-self: stretch;
		justify-self: stretch;
		margin: auto;
		height: 100vh;
		width: 100%;
		object-fit: contain;
	}

	.fondo2 .letrero{
		font-size: 2.2rem;
	}

	.fondo2 .comprar{
		margin-top: 350px;
	}

}
/*fin del responsive Home*/


@keyframes letrero6{
	0%{
		color:#c786cc ;
	}

	100%{
		color: magenta;
	}
}

.letrero2{
	color: pink;
	font-family: 'Bebas Neue', cursive;
	font-size: 2rem;
	font-weight: 400;
	animation-name: letrero6;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-delay: 0.01s;
}

.letrero4{
	color: pink;
	font-family: 'Bebas Neue', cursive;
	font-size: 2rem;
	font-weight: 400;
	height: auto;
}

.anuncio{
	grid-area: anun;
	width: 100%;
	height: auto;
	text-align: center;
}

.cartel{
	grid-area: anun2;
	width: 100%;
	height: auto;
	text-align: center;
	background-color: orange;
}

.img1{
	grid-area: img1;
	margin: auto;
}

.img1 img{
	width:  100%;
	height:  100%;
	transition: all 250ms ease-in-out;
}

.img1:hover img{
		transform: scale(1.1);
		box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
	}

.img2{
	grid-area: img2;
	margin: auto;
}

.img2 img{
	width:  100%;
	height:  100%;
	transition: all 250ms ease-in-out;
}

.img2:hover img{
		transform: scale(1.1);
		box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
	}

.img3{
	grid-area: img3;
	margin: auto;
}

.img3 img{
	width: 100%;
	height:  100%;
	transition: all 250ms ease-in-out;
}

.img3:hover img{
		transform: scale(1.1);
		box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
	}

/*Fin Pagina home*/


/* Inicio pagina Shop*/

.fondo .productos{
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: center;
	margin-top: 130px;
}

.fondo .productos .nombre{
	color: black;
	font-family: 'Montserrat', sans-serif;
	background-color: gray;
	font-size: 2rem;
	font-weight: 700;
	border: 2px solid black;
	margin-bottom: 10px;
}

.fondo .productos img{
	height: 180px;
	max-width: 400px;
	border: 2px solid black;
	border-radius: 10px;
	transition: all 250ms ease-in-out;
}

.productos:hover img{
	transform: scale(1.2);
	box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
}

/*Fin Pagina Shop*/

/*Inicio Pagina Nuestra Historia*/

.centrado{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-top: auto;
	align-items: center;
}

.fondo .letrero{
	margin-top: 120PX;
	color: #c786cc;
	font-family: 'Bebas Neue', cursive;
	font-size: 5rem;
	font-weight: 400;
}


.fondo .imagenAbout img{
	height: 310px;
	max-width: 600px;
	margin: auto;
}

@media all and (max-width: 768px){

	.fondo .letrero{
		font-size: 3rem;
		font-weight: 400;
	}


	.fondo .imagenAbout img{
		height: 230px;
		max-width: 400px;
	}
}

.fondo .texto{
	color: black;
	font-family: 'Montserrat', sans-serif;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 1200px;
	font-size: 1.4rem;
	font-weight: 500;
}


/*Final de Pagina Nuestra Historia*/


/*Inicio Pagina Blog*/
.contenedor2{
	display: grid;
	grid-template-areas: 
	"banner2 banner2 banner3"
	"anun3 anun3 anun3"
	"blog1 blog2 blog3"
	"anun2 anun2 anun2"
	"footer footer footer";
	grid-column-gap: 3px;
	justify-items: start;
	height: 100vh;
}

.descripcion{
	grid-area: banner3;
	margin-top: 120px;
	border: 5px solid black;
}


/*Inicio del Responsive Pagina Blog*/
@media all and (max-width: 768px){
	.contenedor2{
	display: grid;
	grid-template-areas: 
	"banner2"
	"banner3"
	"anun3"
	"blog1"
	"anun2-1"
	"blog2"
	"anun2-2"
	"blog3"
	"anun2-3"
	"footer";
	grid-column-gap: 3px;
	justify-items: start;
	height: 100vh;
	}

	.descrip1{
	grid-area: anun2-1;
	}

	.descrip2{
		grid-area: anun2-2;
	}

	.descrip3{
		grid-area: anun2-3;
	}

	.descripcion {
	margin-top: 0;
	border: 5px solid black;
	}

}
/*Fin del Responsive Pagina Blog*/

.principal{
	grid-area: banner2;
	margin-top: 120px;
}

.principal img{
	width:  100%;
	height:  100%;
}

.descripcion p{
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
}

.letrero3{
	grid-area: anun3;
	width: 100%;
	text-align: center;
	color: #c786cc;
	font-family: 'Bebas Neue', cursive;
	font-size: 4rem;
	font-weight: 400;
	background-color: #ffa5008f;
}

.blog1{
	grid-area: blog1;
	margin: auto;
}

.blog1 img{
	width:  100%;
	height: 100%;
	transition: all 250ms ease-in-out;
}

.blog1:hover img{
	transform: scale(1.2);
	box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
}


.blog2{
	grid-area: blog2;
	margin: auto;
}

.blog2 img{
	width:  100%;
	height: 100%;
	transition: all 250ms ease-in-out;
}

.blog2:hover img{
	transform: scale(1.2);
	box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
}

.blog3{
	grid-area: blog3;
	margin: auto;
}

.blog3 img{
	width:  100%;
	height: 100%;
	transition: all 250ms ease-in-out;
}

.blog3:hover img{
	transform: scale(1.2);
	box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
}

.descrip1{
	grid-area: anun2;
}

.descrip2{
	grid-area: anun2;
}

.descrip3{
	grid-area: anun2;
}

.letras{
	width: 100%;
	text-align: center;
	color: black;
	font-family: 'Bebas Neue', cursive;
	font-size: 2rem;
	font-weight: 400;
}

/*Fin de la Pagina blog*/


/*Inicio de la Pagina Contacto*/
.fondo{
	width: 100%;
	height: 100%;
	margin: auto;
	background-image: url('../assets/logo.jpg');
	background-position: center;
	background-repeat: repeat;
}

.formulario{
	display: flex;
	flex-direction: column;
	max-width: 320px;
	align-items: center;
	margin: auto;
	background-color: gray;
	border: 2px solid black;
	margin-top: 20px;
}

.fondo .tituloFormulario{
	text-align: center;
	margin-top: 150px;
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	font-weight: 700;
	background-color: gray;
	border: 2px solid black;
}

.fondo .letras{
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
	color: gray;
}

.fondo .letra2{
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
	color: black;
}

.formulario input{
	margin-top: 15px;
}

.formulario select{
	margin-top: 15px;
}

.ubicacion iframe{
	width: 100%;
	height: 150px;
	margin-top: 20px;
}

/*Fin de la Pagina Contacto*/

/*Inicio footer*/
#footer{
	grid-area: footer;
	width: 100%;
	height: 80px;
	background-color: #261f1f8a;
}

#footer .redes{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#footer p{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 700;
	color: white;
}

#footer .redes img{
	width: 40px;
	height: 40px;
}

/*Fin footer*/

