@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dongle:wght@300;400;700&family=Montserrat:wght@400;600;800&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap');

body{
	font-family: 'Roboto', sans-serif;
	font-size: 400;
	}


/*Inicio del Header*/

.bg-color{
	background-color: #261f1f8a;
}

.navbar-brand img{
	height: 50px;
	width: 50px;
}

.navbar-brand img:hover{
	transform: scale(1.7)
}

.navbar-nav .nav-item a{
	color: #000000b0;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
}

.navbar-nav .nav-item a:hover{
	color: orange !important;
}

/*Fin del Header*/


/*Inicio Pagina home*/

.fondo2{
	background-image: url('../assets/collageHome.png');
	background-size: cover;
	height: 600px;
}

@keyframes letrero5{
	0%{
		color:magenta ;
	}

	100%{
		color: orange;
	}
}

.fondo2 .letrero{
	color: #c786cca1;
	font-family: 'Bebas Neue', cursive;
	font-size: 4rem;
	font-weight: 400;
	margin-top: 160px;
	animation-name: letrero5;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-delay: 0.01s;
}

.fondo2 .comprar{
	color: black;
	font-family: 'Bebas Neue', cursive;
	font-size: 2rem;
	font-weight: 400;
	position: absolute;
	margin-top: 150px;
	margin-left: -40px;
}

/*Responsive Home*/
@media all and (max-width: 768px){

	.fondo2{
		background-image: url('../assets/fondo2.jpg');
		background-size: cover;
		object-fit: contain;
	}

	.fondo2 .letrero{
		font-size: 2.2rem;
	}

	.fondo2 .comprar{
		margin-top: 250px;
	}
}
/*fin del responsive Home*/


@keyframes letrero6{
	0%{
		color:#c786cc ;
	}

	100%{
		color: magenta;
	}
}

.letrero2{
	color: pink;
	font-family: 'Bebas Neue', cursive;
	font-size: 2rem;
	font-weight: 400;
	animation-name: letrero6;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-delay: 0.01s;
}

.letrero4{
	color: pink;
	font-family: 'Bebas Neue', cursive;
	font-size: 2rem;
	font-weight: 400;
}

.cartel{
	background-color: orange;
}

@media all and (min-width: 768px){
	.container{
		width: 400px !important;
	}

	.carousel-item img{
		max-height: 400px !important;
	}
}

/*Fin Pagina home*/


/* Inicio pagina Shop*/

.comienzo{
	margin-top: 80px !important;
}

.nombre{
	color: black;
	font-family: 'Montserrat', sans-serif;
	background-color: gray;
	font-size: 2rem;
	font-weight: 700;
}

.imagenes img{
	height: 180px;
}

.ampliacion{
	transition: all 250ms ease-in-out;
}

.ampliacion:hover{
	transform: scale(1.1);
	box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
}

/*Fin Pagina Shop*/

/*Inicio Pagina Nuestra Historia*/


.fondo .letrero{
	color: #c786cc;
	font-family: 'Bebas Neue', cursive;
	font-size: 5rem;
	font-weight: 400;
	animation-name: letrero6;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-delay: 0.01s;
}


.imagenAbout img{
	height: 310px;
}

@media all and (max-width: 768px){

	.fondo .letrero{
		font-size: 3rem;
		font-weight: 400;
	}

	.imagenAbout img{
	height: 180px;
	}
}

.fondo .texto{
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4rem;
	font-weight: 500;
}


/*Final de Pagina Nuestra Historia*/


/*Inicio Pagina Blog*/

.principal img{
	width:  100%;
	height:  100%;
}

.descripcion p{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
}

.letrero3{
	color: #c786cc;
	font-family: 'Bebas Neue', cursive;
	font-size: 4rem;
	font-weight: 400;
	background-color: #ffa5008f;
}

.blog img{
	width:  100%;
	height: 100%;
	transition: all 250ms ease-in-out;
}

.blog:hover img{
	transform: scale(1.2);
	box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
}

.letras{
	color: black;
	font-family: 'Bebas Neue', cursive;
	font-size: 2rem;
	font-weight: 400;
}

/*Fin de la Pagina blog*/


/*Inicio de la Pagina Contacto*/

.fondo{
	background-image: url('../assets/logo.jpg');
	background-position: center;
	background-repeat: repeat;
}

.fondo .tituloFormulario{
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	font-weight: 700;
}

@media all and (max-width: 768px){
	.fondo .tituloFormulario{
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
}

}

.mapa iframe{
	height: 150px;
}

/*Fin de la Pagina Contacto*/

/*Inicio footer*/
#footer{
	background-color: #261f1f8a;
}

#footer p{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 700;
	color: white;
}

#footer .nav img{
	width: 30px;
	height: 30px;
}
/*Fin footer*/