$miMap:(
	light: 300,
	medium: 400,
	bold: 700
);

$bg-color-header: #261f1f8a;

$point-md: 768px;

$color-navbar-letras: #000000b0;

$color-navbar-letras-hover: orange;

$color-letro-banner-index: #c786cca1;

$color-boton-comprar-index: #000;

$bg-letrero-descuento: #ea916682;

$bg-titulo-blog:#f2bd5ca3;

$color-shop-letras: #000;

$color-letrero-historia: #c786cc;

$color-historia-letras: #000;

$color-blog-letras: #000;

$color-footer-letras: white;

$bg-footer: #261f1f8a;

$bg-titulos-shop: #84bcca80;

$bg-formulario: #b8c4c870;

$botones: #84bcca80;

$boton-comprar-index: #000;
